ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="6874", ATTRS{idProduct}=="7161", SUBSYSTEM=="block", RUN{program}+="/usr/bin/systemd-mount --no-block --automount=yes --owner=gba --collect $devnode /shawazu"
